*{
	
}
#rech{
	float: left;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
	height: 100%;
	width: 100%;
    margin: 0;
    direction: ltr;
    /*transition: .5s;*/
	font-family: 'Roboto Mono', Arial;
	font-size: 3vw:
}
nav {
	padding:30px;
	background-color:#bb92eb;

}
.mySection {
	font-family: 'Century Gothic', Arial;
	background-color: 	#bb92eb
;
	display: flex;
	flex-direction: row;
	padding:0 60px 30px 30px;
	margin-top: 0px;
	width: 100%;
}
.blog-head-text {

    max-width: 500px;
    width: 100%;
    padding: 15px;
    margin-top: 150px;
    margin-left: 70px;
    color: #fff;
    text-shadow: 1px 1px #fff;
}

.blog-head-text p {
	font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
    font-weight: unset;
    }
.blog-head-text h1 {
	font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-top: 30px;
        line-height: 100px;
}
img {	
	margin-left: 300px;
	margin-top: 20px;
	height: 500px;
	width: 500px;
	max-width: 100%;		
	border-radius: 30px;

}
.left img {
	float: left;
	margin-left: 30px;
	margin-top: 20px;
	height: 350px;
	width: 400px;
	max-width: 100%;		
	border-radius: 30px;

}
.right img {
	float: right;
	margin-right: 30px;
	margin-top: 20px;
	height: 400px;
	width: 400px;
	max-width: 100%;		
	border-radius: 30px;


}

.nav-links{
	display: flex;
	justify-content: space-between;
	font-family: 'Century Gothic', Arial	
}
.nav-right{
	margin-left: 50px;
	margin-right: 10px;
}
.nav-left{
	font-size: 3rem	;
	font-weight: bold;
}
.nav-links a {

	color:#fff;
	text-decoration: none;
}
#nameblog{
	width: 1240px;
	height: 500px;
}
/*about*/
h1{
	color: #AA6F73;
	font-size: 30px;
}

.text {
	max-width: 500px;
}
.btn{
	padding: 18px 40px;
    background: transparent;
    outline: inherit;
    border: 2px solid #A66A8A;
    font-weight: bold;
    cursor: pointer;
}
.left{
	width: 50%;
	height: 0px;
	display: flex;
	flex-direction: row;
}

.right{

	margin-left: 400px; 
	width: 50%;
	height: 400px;
}
#about {
	padding:30px; 	
	display: flex;
	flex-direction: row;

}
#blog{
	padding: 30px;
	display: flex;
	flex-direction: row-reverse;
}

#searchbar{
	
	width:1040px; 
	height:auto; 
	flex-wrap: wrap;}
.formulaire {
	display:inline-block;
}
.formulaire .champ{
	width:300px; 
	height:35px;
margin-left:0px}
.formulaire .bouton  { 
	background-color: #FFF7F7;
	width: 50px;
	height: 35px;
	padding: 0; 
	color:black;
    outline: none;
    border: 2px solid #A66A8A;
    cursor: pointer;
	}
h2{
	color: white;
	margin-top: 20px;
}

/*------------------Contact Us---------------*/


}
form{
	max-width: 30px;
	margin: 30px 0;
}
form input{
	width: 100%;
	padding: 12px 10px;
	margin-bottom: 5px;
	outline: none;
	box-shadow: none;
	box-sizing: border-box;
	border: 2px solid #fab3C4;
}
#emailcontact{
	border: 0.5px solid #A66A8A;
}
.textarea{
	outline: inherit;
	border: 1px solid #A66A8A;

}
#send {
	position: absolute;
	margin-right: 5px;
	width: 20px;
	height: 5px;
	padding-left: 23px;
	padding-top: 16px; 
	padding-bottom: 23px;
	padding-right: 55px;
    background: transparent;
    outline: inherit;
    border: 1px solid #A66A8A;
    font-weight: bold;
    cursor: pointer;
	}


.socialicon{

	display:flex;
	flex-direction: row;
	justify-content: center;
	padding: 20px;
	margin-left: 20px;
	}

.socialicon a{

	margin-left:20px;
	}

#LogoFooter{
	
	background-color: #c5b8d4;
}
.social{
	width: 35px;
	height: 35px;
}


/*---------------footerr-------------*/

.footer {
	background: #c5b8d4;
	color:#303036;
	height: 400px;	
	position: relative;
		}

.footer .footer-content{
	width: 100%;
	max-width: 100%;
	border: 1px solid #a39193;
	height: 400px;
	display: flex;
	flex-direction: row;
}
.footer .footer-bottom{
	color:#ffff;
	width: 100px.
	height: 50px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding-top: 20px;

}
.footer .footer-content .footer-section{
	/*border: 1px solid white;*/
}
.footer-section{

	padding:8px;
	width:100%;
	margin:0 0 0 0;
	height: 380px;

}


.formulaire{
	padding:0px;
	margin:0px;
	margin-top: 1cm;
	margin-left: 3px;
	max-width:50%;
}

#lookingfor{	
	border: 0.5px solid #A66A8A;
}

#contact-footer textarea {
	max-width: 100%;
}


@media screen and (max-width: 800px) {

   .blog-head-text, img, .nav-links .main {
  	width: 100%;
  	max-width: 100%;
  	margin:auto;
  }
  .blog-head-img img {
  	width: 250px;
  	height:250px;
  }
  .blog-head-text	 {
  	max-width: 100%;
  	width: 70%;
  	font-size: 1.1vw;
  }
  section, div.left, div.right, .left img, .right img {
  	width: 100%;
  	margin: 0px 0px 20px 0px;

  }

	
}

/*--------------------------page create post-------------*/
#formcreate{
	background-color:#F2F2F2;
	margin-top: 0;
			}

input, textarea { 
    padding: 9px; 
    font:15px Verdana, sans-serif; 
     			} 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    	} 
   
.submit button { 
	margin-left: 400px;
	margin-top: 10px;
	margin-bottom: 100px;
    width: auto; 
    padding: 9px 15px; 
    background: #a39193; 
    border: 0; 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    font-size: 14px; 
    color: white; 
    }

input, textarea { 
	margin-left: 20px;
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    border: 0.5px solid #A66A8A;
    }
.titrepost{
	width: 30%;
	border: 0.5px solid #A66A8A;
    font-weight: bold;
}

#foorm{
	margin-left:200px;
}

#createpost{
	margin-left:200px;
	margin-top: 0px;
	padding-top: 50px;
	font-family: gorgia;
}
